html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header {
  width: 80%;
  height: 20%;
}

main {
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;
}

footer {
  width: 80%;
  height: 0%;
}

.box1 {
  width: 100%;
  height: 100%;
  background-color: #009000;
}

.box2 {
  width: 45%;
  height: 100%;
  background-color: #0000ff;
}

.box3 {
  width: 45%;
  height: 100%;
  background-color: #964b00;
}

.box4 {
  width: 100%;
  height: 100%;
  background-color: #7f00ff;
}

/* 지시사항 1, 2번에 맞는 CSS 스타일을 여기에 작성하세요 */
@media (min-width: 1024px) {
    main {
        height: 20%;
    }

    footer {
        height: 20%;
    }

    .box1 {
        background-color: #adff2f;
    }

    .box2 {
        background-color: #87cccb;
    }

    .box3 {
        background-color: #f4a460;
    }
}